body {
    background-color: #333;
}
.box {
    background-color: white;
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
    top: 200px;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}

.box:hover {
    background: red;
    border-radius: 50%;
}